.fcal_phone_wrapper {
  .fcal_country_select {

    span.flag {
      height: 19px !important;
      min-width: 28px !important;
      display: inline-block !important;
    }

    img.flag {
      width: 30px !important;
    }

    .flag-ad {
      background-position: 0 0.413223% !important;
    }

    .flag-ae {
      background-position: 0 0.826446% !important;
    }

    .flag-af {
      background-position: 0 1.239669% !important;
    }

    .flag-ag {
      background-position: 0 1.652893% !important;
    }

    .flag-ai {
      background-position: 0 2.066116% !important;
    }

    .flag-al {
      background-position: 0 2.479339% !important;
    }

    .flag-am {
      background-position: 0 2.892562% !important;
    }

    .flag-an {
      background-position: 0 3.305785% !important;
    }

    .flag-ao {
      background-position: 0 3.719008% !important;
    }

    .flag-aq {
      background-position: 0 4.132231% !important;
    }

    .flag-ar {
      background-position: 0 4.545455% !important;
    }

    .flag-as {
      background-position: 0 4.958678% !important;
    }

    .flag-at {
      background-position: 0 5.371901% !important;
    }

    .flag-au {
      background-position: 0 5.785124% !important;
    }

    .flag-aw {
      background-position: 0 6.198347% !important;
    }

    .flag-az {
      background-position: 0 6.61157% !important;
    }

    .flag-ba {
      background-position: 0 7.024793% !important;
    }

    .flag-bb {
      background-position: 0 7.438017% !important;
    }

    .flag-bd {
      background-position: 0 7.85124% !important;
    }

    .flag-be {
      background-position: 0 8.264463% !important;
    }

    .flag-bf {
      background-position: 0 8.677686% !important;
    }

    .flag-bg {
      background-position: 0 9.090909% !important;
    }

    .flag-bh {
      background-position: 0 9.504132% !important;
    }

    .flag-bi {
      background-position: 0 9.917355% !important;
    }

    .flag-bj {
      background-position: 0 10.330579% !important;
    }

    .flag-bm {
      background-position: 0 10.743802% !important;
    }

    .flag-bn {
      background-position: 0 11.157025% !important;
    }

    .flag-bo {
      background-position: 0 11.570248% !important;
    }

    .flag-br {
      background-position: 0 11.983471% !important;
    }

    .flag-bs {
      background-position: 0 12.396694% !important;
    }

    .flag-bt {
      background-position: 0 12.809917% !important;
    }

    .flag-bv {
      background-position: 0 13.22314% !important;
    }

    .flag-bw {
      background-position: 0 13.636364% !important;
    }

    .flag-by {
      background-position: 0 14.049587% !important;
    }

    .flag-bz {
      background-position: 0 14.46281% !important;
    }

    .flag-ca {
      background-position: 0 14.876033% !important;
    }

    .flag-cc {
      background-position: 0 15.289256% !important;
    }

    .flag-cd {
      background-position: 0 15.702479% !important;
    }

    .flag-cf {
      background-position: 0 16.115702% !important;
    }

    .flag-cg {
      background-position: 0 16.528926% !important;
    }

    .flag-ch {
      background-position: 0 16.942149% !important;
    }

    .flag-ci {
      background-position: 0 17.355372% !important;
    }

    .flag-ck {
      background-position: 0 17.768595% !important;
    }

    .flag-cl {
      background-position: 0 18.181818% !important;
    }

    .flag-cm {
      background-position: 0 18.595041% !important;
    }

    .flag-cn {
      background-position: 0 19.008264% !important;
    }

    .flag-co {
      background-position: 0 19.421488% !important;
    }

    .flag-cr {
      background-position: 0 19.834711% !important;
    }

    .flag-cu {
      background-position: 0 20.247934% !important;
    }

    .flag-cv {
      background-position: 0 20.661157% !important;
    }

    .flag-cx {
      background-position: 0 21.07438% !important;
    }

    .flag-cy {
      background-position: 0 21.487603% !important;
    }

    .flag-cz {
      background-position: 0 21.900826% !important;
    }

    .flag-de {
      background-position: 0 22.31405% !important;
    }

    .flag-dj {
      background-position: 0 22.727273% !important;
    }

    .flag-dk {
      background-position: 0 23.140496% !important;
    }

    .flag-dm {
      background-position: 0 23.553719% !important;
    }

    .flag-do {
      background-position: 0 23.966942% !important;
    }

    .flag-dz {
      background-position: 0 24.380165% !important;
    }

    .flag-ec {
      background-position: 0 24.793388% !important;
    }

    .flag-ee {
      background-position: 0 25.206612% !important;
    }

    .flag-eg {
      background-position: 0 25.619835% !important;
    }

    .flag-eh {
      background-position: 0 26.033058% !important;
    }

    .flag-er {
      background-position: 0 26.446281% !important;
    }

    .flag-es {
      background-position: 0 26.859504% !important;
    }

    .flag-et {
      background-position: 0 27.272727% !important;
    }

    .flag-fi {
      background-position: 0 27.68595% !important;
    }

    .flag-fj {
      background-position: 0 28.099174% !important;
    }

    .flag-fk {
      background-position: 0 28.512397% !important;
    }

    .flag-fm {
      background-position: 0 28.92562% !important;
    }

    .flag-fo {
      background-position: 0 29.338843% !important;
    }

    .flag-fr {
      background-position: 0 29.752066% !important;
    }

    .flag-ga {
      background-position: 0 30.165289% !important;
    }

    .flag-gd {
      background-position: 0 30.578512% !important;
    }

    .flag-ge {
      background-position: 0 30.991736% !important;
    }

    .flag-gf {
      background-position: 0 31.404959% !important;
    }

    .flag-gh {
      background-position: 0 31.818182% !important;
    }

    .flag-gi {
      background-position: 0 32.231405% !important;
    }

    .flag-gl {
      background-position: 0 32.644628% !important;
    }

    .flag-gm {
      background-position: 0 33.057851% !important;
    }

    .flag-gn {
      background-position: 0 33.471074% !important;
    }

    .flag-gp {
      background-position: 0 33.884298% !important;
    }

    .flag-gq {
      background-position: 0 34.297521% !important;
    }

    .flag-gr {
      background-position: 0 34.710744% !important;
    }

    .flag-gs {
      background-position: 0 35.123967% !important;
    }

    .flag-gt {
      background-position: 0 35.53719% !important;
    }

    .flag-gu {
      background-position: 0 35.950413% !important;
    }

    .flag-gw {
      background-position: 0 36.363636% !important;
    }

    .flag-gy {
      background-position: 0 36.77686% !important;
    }

    .flag-hk {
      background-position: 0 37.190083% !important;
    }

    .flag-hm {
      background-position: 0 37.603306% !important;
    }

    .flag-hn {
      background-position: 0 38.016529% !important;
    }

    .flag-hr {
      background-position: 0 38.429752% !important;
    }

    .flag-ht {
      background-position: 0 38.842975% !important;
    }

    .flag-hu {
      background-position: 0 39.256198% !important;
    }

    .flag-id {
      background-position: 0 39.669421% !important;
    }

    .flag-ie {
      background-position: 0 40.082645% !important;
    }

    .flag-il {
      background-position: 0 40.495868% !important;
    }

    .flag-in {
      background-position: 0 40.909091% !important;
    }

    .flag-io {
      background-position: 0 41.322314% !important;
    }

    .flag-iq {
      background-position: 0 41.735537% !important;
    }

    .flag-ir {
      background-position: 0 42.14876% !important;
    }

    .flag-is {
      background-position: 0 42.561983% !important;
    }

    .flag-it {
      background-position: 0 42.975207% !important;
    }

    .flag-jm {
      background-position: 0 43.38843% !important;
    }

    .flag-jo {
      background-position: 0 43.801653% !important;
    }

    .flag-jp {
      background-position: 0 44.214876% !important;
    }

    .flag-ke {
      background-position: 0 44.628099% !important;
    }

    .flag-kg {
      background-position: 0 45.041322% !important;
    }

    .flag-kh {
      background-position: 0 45.454545% !important;
    }

    .flag-ki {
      background-position: 0 45.867769% !important;
    }

    .flag-km {
      background-position: 0 46.280992% !important;
    }

    .flag-kn {
      background-position: 0 46.694215% !important;
    }

    .flag-kp {
      background-position: 0 47.107438% !important;
    }

    .flag-kr {
      background-position: 0 47.520661% !important;
    }

    .flag-kw {
      background-position: 0 47.933884% !important;
    }

    .flag-ky {
      background-position: 0 48.347107% !important;
    }

    .flag-kz {
      background-position: 0 48.760331% !important;
    }

    .flag-la {
      background-position: 0 49.173554% !important;
    }

    .flag-lb {
      background-position: 0 49.586777% !important;
    }

    .flag-lc {
      background-position: 0 50% !important;
    }

    .flag-li {
      background-position: 0 50.413223% !important;
    }

    .flag-lk {
      background-position: 0 50.826446% !important;
    }

    .flag-lr {
      background-position: 0 51.239669% !important;
    }

    .flag-ls {
      background-position: 0 51.652893% !important;
    }

    .flag-lt {
      background-position: 0 52.066116% !important;
    }

    .flag-lu {
      background-position: 0 52.479339% !important;
    }

    .flag-lv {
      background-position: 0 52.892562% !important;
    }

    .flag-ly {
      background-position: 0 53.305785% !important;
    }

    .flag-ma {
      background-position: 0 53.719008% !important;
    }

    .flag-mc {
      background-position: 0 54.132231% !important;
    }

    .flag-md {
      background-position: 0 54.545455% !important;
    }

    .flag-me {
      background-position: 0 54.958678% !important;
    }

    .flag-mg {
      background-position: 0 55.371901% !important;
    }

    .flag-mh {
      background-position: 0 55.785124% !important;
    }

    .flag-mk {
      background-position: 0 56.198347% !important;
    }

    .flag-ml {
      background-position: 0 56.61157% !important;
    }

    .flag-mm {
      background-position: 0 57.024793% !important;
    }

    .flag-mn {
      background-position: 0 57.438017% !important;
    }

    .flag-mo {
      background-position: 0 57.85124% !important;
    }

    .flag-mp {
      background-position: 0 58.264463% !important;
    }

    .flag-mq {
      background-position: 0 58.677686% !important;
    }

    .flag-mr {
      background-position: 0 59.090909% !important;
    }

    .flag-ms {
      background-position: 0 59.504132% !important;
    }

    .flag-mt {
      background-position: 0 59.917355% !important;
    }

    .flag-mu {
      background-position: 0 60.330579% !important;
    }

    .flag-mv {
      background-position: 0 60.743802% !important;
    }

    .flag-mw {
      background-position: 0 61.157025% !important;
    }

    .flag-mx {
      background-position: 0 61.570248% !important;
    }

    .flag-my {
      background-position: 0 61.983471% !important;
    }

    .flag-mz {
      background-position: 0 62.396694% !important;
    }

    .flag-na {
      background-position: 0 62.809917% !important;
    }

    .flag-nc {
      background-position: 0 63.22314% !important;
    }

    .flag-ne {
      background-position: 0 63.636364% !important;
    }

    .flag-nf {
      background-position: 0 64.049587% !important;
    }

    .flag-ng {
      background-position: 0 64.46281% !important;
    }

    .flag-ni {
      background-position: 0 64.876033% !important;
    }

    .flag-nl {
      background-position: 0 65.289256% !important;
    }

    .flag-no {
      background-position: 0 65.702479% !important;
    }

    .flag-np {
      background-position: 0 66.115702% !important;
    }

    .flag-nr {
      background-position: 0 66.528926% !important;
    }

    .flag-nu {
      background-position: 0 66.942149% !important;
    }

    .flag-nz {
      background-position: 0 67.355372% !important;
    }

    .flag-om {
      background-position: 0 67.768595% !important;
    }

    .flag-pa {
      background-position: 0 68.181818% !important;
    }

    .flag-pe {
      background-position: 0 68.595041% !important;
    }

    .flag-pf {
      background-position: 0 69.008264% !important;
    }

    .flag-pg {
      background-position: 0 69.421488% !important;
    }

    .flag-ph {
      background-position: 0 69.834711% !important;
    }

    .flag-pk {
      background-position: 0 70.247934% !important;
    }

    .flag-pl {
      background-position: 0 70.661157% !important;
    }

    .flag-pm {
      background-position: 0 71.07438% !important;
    }

    .flag-pn {
      background-position: 0 71.487603% !important;
    }

    .flag-pr {
      background-position: 0 71.900826% !important;
    }

    .flag-pt {
      background-position: 0 72.31405% !important;
    }

    .flag-pw {
      background-position: 0 72.727273% !important;
    }

    .flag-py {
      background-position: 0 73.140496% !important;
    }

    .flag-qa {
      background-position: 0 73.553719% !important;
    }

    .flag-re {
      background-position: 0 73.966942% !important;
    }

    .flag-ro {
      background-position: 0 74.380165% !important;
    }

    .flag-rs {
      background-position: 0 74.793388% !important;
    }

    .flag-ru {
      background-position: 0 75.206612% !important;
    }

    .flag-rw {
      background-position: 0 75.619835% !important;
    }

    .flag-sa {
      background-position: 0 76.033058% !important;
    }

    .flag-sb {
      background-position: 0 76.446281% !important;
    }

    .flag-sc {
      background-position: 0 76.859504% !important;
    }

    .flag-sd {
      background-position: 0 77.272727% !important;
    }

    .flag-se {
      background-position: 0 77.68595% !important;
    }

    .flag-sg {
      background-position: 0 78.099174% !important;
    }

    .flag-sh {
      background-position: 0 78.512397% !important;
    }

    .flag-si {
      background-position: 0 78.92562% !important;
    }

    .flag-sj {
      background-position: 0 79.338843% !important;
    }

    .flag-sk {
      background-position: 0 79.752066% !important;
    }

    .flag-sl {
      background-position: 0 80.165289% !important;
    }

    .flag-sm {
      background-position: 0 80.578512% !important;
    }

    .flag-sn {
      background-position: 0 80.991736% !important;
    }

    .flag-so {
      background-position: 0 81.404959% !important;
    }

    .flag-sr {
      background-position: 0 81.818182% !important;
    }

    .flag-ss {
      background-position: 0 82.231405% !important;
    }

    .flag-st {
      background-position: 0 82.644628% !important;
    }

    .flag-sv {
      background-position: 0 83.057851% !important;
    }

    .flag-sy {
      background-position: 0 83.471074% !important;
    }

    .flag-sz {
      background-position: 0 83.884298% !important;
    }

    .flag-tc {
      background-position: 0 84.297521% !important;
    }

    .flag-td {
      background-position: 0 84.710744% !important;
    }

    .flag-tf {
      background-position: 0 85.123967% !important;
    }

    .flag-tg {
      background-position: 0 85.53719% !important;
    }

    .flag-th {
      background-position: 0 85.950413% !important;
    }

    .flag-tj {
      background-position: 0 86.363636% !important;
    }

    .flag-tk {
      background-position: 0 86.77686% !important;
    }

    .flag-tl {
      background-position: 0 87.190083% !important;
    }

    .flag-tm {
      background-position: 0 87.603306% !important;
    }

    .flag-tn {
      background-position: 0 88.016529% !important;
    }

    .flag-to {
      background-position: 0 88.429752% !important;
    }

    .flag-tp {
      background-position: 0 88.842975% !important;
    }

    .flag-tr {
      background-position: 0 89.256198% !important;
    }

    .flag-tt {
      background-position: 0 89.669421% !important;
    }

    .flag-tv {
      background-position: 0 90.082645% !important;
    }

    .flag-tw {
      background-position: 0 90.495868% !important;
    }

    .flag-ty {
      background-position: 0 90.909091% !important;
    }

    .flag-tz {
      background-position: 0 91.322314% !important;
    }

    .flag-ua {
      background-position: 0 91.735537% !important;
    }

    .flag-ug {
      background-position: 0 92.14876% !important;
    }

    .flag-gb,
    .flag-uk {
      background-position: 0 92.561983% !important;
    }

    .flag-um {
      background-position: 0 92.975207% !important;
    }

    .flag-us {
      background-position: 0 93.38843% !important;
    }

    .flag-uy {
      background-position: 0 93.801653% !important;
    }

    .flag-uz {
      background-position: 0 94.214876% !important;
    }

    .flag-va {
      background-position: 0 94.628099% !important;
    }

    .flag-vc {
      background-position: 0 95.041322% !important;
    }

    .flag-ve {
      background-position: 0 95.454545% !important;
    }

    .flag-vg {
      background-position: 0 95.867769% !important;
    }

    .flag-vi {
      background-position: 0 96.280992% !important;
    }

    .flag-vn {
      background-position: 0 96.694215% !important;
    }

    .flag-vu {
      background-position: 0 97.107438% !important;
    }

    .flag-wf {
      background-position: 0 97.520661% !important;
    }

    .flag-ws {
      background-position: 0 97.933884% !important;
    }

    .flag-ye {
      background-position: 0 98.347107% !important;
    }

    .flag-za {
      background-position: 0 98.760331% !important;
    }

    .flag-zm {
      background-position: 0 99.173554% !important;
    }

    .flag-zr {
      background-position: 0 99.586777% !important;
    }

    .flag-zw {
      background-position: 0 100% !important;
    }
  }
}
