$breakpoint-tablet2: 1055;
$breakpoint-tablet: 767px;
$bodyBg: #f1f2f5;
$primaryColor: #306ae0;
$dark: #1B2533;
$lightDark: #6b7280;
:root {
  --fcal_primary_color: #306ae0;
  --fcal_date_radius: 4px;
  --fcal_avatar_radius: 8px;
}

@import "../scss/booking_confirmation";
.fluent_booking_app {
  padding-top: 0;
}
.fcal_cal_wrap {
  max-width: 100% !important;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.fcal_booking_form_wrap {
  .fcal_booking_form {
    .fcal_form_item {
      + .fcal_form_item {
        margin-top: 16px;
      }

      .fcal_input_content {
        display: block;

        .fcal_input_label {
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          color: #445164;
          margin-bottom: 10px;
        }
        .fcal_input_location_wrap {
          select {
            margin-bottom: 6px;
          }
          .fcal_location_radio_list {
            position: relative;
            line-height: 24px;
            font-size: 16px;
            padding-left: 30px;
            margin-bottom: 8px;
            cursor: pointer;
            display: block;
            &:last-child {
                margin-bottom: 0;
            }
            input {
                position: absolute;
                width: auto;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin: 0;
                padding: 0;
                left: 0;
                top: 0;
                appearance: none;
                visibility: hidden;
                opacity: 0;
                &:checked~.fcal_radio_icon {
                    border-color: var(--fcal_primary_color);
                    &::before {
                        transform: scale(1);
                    }
                }
            }
            .fcal_radio_icon {
                position: absolute;
                border: 1.5px solid #D1D5DB;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                left: 0;
                top: 3px;
                transition: .3s;
                &::before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: var(--fcal_primary_color);
                    position: absolute;
                    left: 3.5px;
                    top: 3.5px;
                    transform: scale(0);
                    transition: .3s;
                }
            }
          }
        }

        .fcal_input_wrap {
            &.address {
                position: relative;
                svg {
                    position: absolute;
                    left: 15px;
                    width: 16px;
                    top: 10px;
                    opacity: 0.5;
                }
                input {
                    padding-left: 38px;
                }
            }
          &.fcal_field_name_address {
            position: relative;
            svg {
              position: absolute;
              left: 15px;
              width: 16px;
              top: 10px;
              opacity: 0.5;
            }
            input {
              padding-left: 38px;
            }
          }
        }

        select {
          min-height: 46px;
        }

        select,
        textarea,
        input {
          padding: 7px 16px;
          border: 1px solid #D6DAE1;
          border-radius: 8px;
          display: block;
          width: 100%;
          transition: .1s;
          -webkit-transition: .1s;
          -moz-transition: .1s;
          -ms-transition: .1s;
          -o-transition: .1s;

          font-size: 16px;
          font-weight: 400;
          line-height: 24px;

          &:focus {
            outline: none;
            box-shadow: none;
            border-color: var(--fcal_primary_color);
          }
        }

        .fcal_checkbox_wrap {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          gap: 18px;

          .fcal_checkbox {
            display: flex;
            align-items: center;
            position: relative;
            gap: 6px;
            cursor: pointer;

            input[type=checkbox] {
              position: absolute;
              left: 0;
              top: 0;
              width: 30px;
              height: 30px;
              min-height: 30px;
              margin: 0;
              padding: 0;
              opacity: 0;

              &:checked ~ .fcal_checkbox_mark {
                background: var(--fcal_primary_color);
                border-color: var(--fcal_primary_color);

                &:before {
                  transform: scale(1) rotate(45deg);
                }
              }
            }

            .fcal_checkbox_mark {
              width: 30px;
              height: 30px;
              border-radius: 8px;
              border: 1px solid #D6DAE1;
              cursor: pointer;
              transition: .3s;
              position: relative;

              &:before {
                content: '';
                width: 5px;
                height: 12px;
                border-bottom: 1.5px solid #ffffff;
                border-right: 1.5px solid #ffffff;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -3px;
                margin-top: -9px;
                transform: scale(0) rotate(45deg);
                transition: .3s;
              }
            }
          }
        }

        textarea {
          height: 70px;
          max-width: 100%;
          max-height: 180px;
        }
      }

      button {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: #ffffff;
        padding: 10px 20px;
        background: var(--fcal_primary_color);
        border-radius: 8px;
      }

      &.fcal_submit {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}

.fcal_calendar_inner {
  display: flex;
  border: 1px solid rgba(26, 26, 26, 0.1);
  overflow: hidden;

  &.fcal_on_desktop {
    transition: .3s;
    .fcal_calendar_slot_wrap {
      .fcal_slot_picker {
        overflow: auto;
        max-height: 100%;
        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: #e4e4e7;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
      }
    }
  }

  .fcal_side {
    width: 100% !important;
    min-width: 360px;
    border-right: 1px solid #EAECF0;
    transition: all .22s ease-out;
    -webkit-transition: all .22s ease-out;
    -moz-transition: all .22s ease-out;
    -o-transition: all .22s ease-out;
    padding: 30px 36px 23px 20px;
    max-width: 360px;
    overflow: auto;
    min-height: 500px;
    z-index: 9;
    background: #ffffff;

    .fcal_author {
      margin-bottom: 10px;
    }

    .fcal_author_avatar {
      margin-bottom: 10px;

      img {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: var(--fcal_avatar_radius);
        display: block;
      }
    }

    .fcal_author_name {
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin: 0;
      color: #1B2533;
    }

    .fcal_slot_heading {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin: 0 0 20px;
    }

    .fcal_slot_description {
      margin-top: 20px;
      font-size: 16px;
    }

    .fcal_location_description {
      font-size: 15px;
    }

  }

  .fcal_date_wrapper {
    width: auto;
    padding: 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;

    &.is_active {
      //padding-right: 600px;
      .fcal_day_picker_wrap {
        transform: translateX(-100%);
        visibility: hidden;
      }
    }

    .fcal_day_picker_wrap {
      transform: translateX(0);
      visibility: visible;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -o-transition: .5s;

      .fcal_fluent_form_selected_time {
        font-size: 14px;
        margin-top: 8px;
        b {
          font-weight: 600;
        }
      }
    }

    .fcal_date_event_details {
      padding: 24px 20px;
      //width: 600px;
      //max-width: 600px;
      z-index: 10;
      background: #ffffff;
      width: 100%;
      max-width: 100%;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -o-transition: .5s;
      right: 0;
      top: 0;
      max-height: 100%;
      overflow-x: hidden;
      //transform: translateX(100%);
      max-width: 0;

      &.is_active {
        opacity: 1;
        visibility: visible;
        right: 0;
        //transform: translateX(0);
        max-width: 700px;
      }

      .fcal_form_booking_details {
        padding-left: 20px;

        .fcal_author {
          position: relative;

          .fcal_back {
            cursor: pointer;
            position: absolute;
            background: #ffffff;
            width: 30px;
            height: 30px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            left: -35px;
            top: 15px;
            border: 1px solid #dadbdd;
            border-radius: 50%;

            svg {
              fill: #697483;
            }
          }
        }
      }

      .fcal_date_event_details_header {
        border-bottom: 1px solid #EAECF0;
        padding-bottom: 20px;
        margin-bottom: 20px;

        h2 {
          display: flex;
          align-items: center;
          gap: 10px;

          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
          color: #1B2533;
          margin: 0;
        }

        .fcal_back {
          i.fcal_svg {
            width: 40px;
            height: 40px;
            border: 1px solid rgb(68 81 100 / 10%);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -o-transition: .3s;

            svg {
              fill: #445164;
              width: 18px;
              transition: .3s;
              -webkit-transition: .3s;
              -moz-transition: .3s;
              -o-transition: .3s;
            }

            &:hover {
              outline: none;
              background-clip: padding-box;
              background: var(--fcal_primary_color);
              border-color: var(--fcal_primary_color);
              color: var(--fcal_primary_color);

              svg {
                fill: #ffffff;
              }
            }

            &.ff_svg {
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }

    h2 {
      font-size: 26px;
      margin: 0 0 20px;
      padding: 0;
    }

    .fcal_day_picker {
      padding: 30px 20px;
      height: 100%;
      position: relative;
      @media (max-width: $breakpoint-tablet) {
        height: auto;
      }

      .fcal_timezone_select {
        max-width: 350px;
        select {
          border: 1px solid #EAECF0;
          padding: 10px 20px;
          border-radius: 8px;
          max-width: 100%;
          width: 100%;
          font-size: 16px;
        }
      }
    }


    .calendar-container {
      //width: fit-content;
      //overflow: auto;
      //box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
      //border-radius: 10px;
      //background: #fff;
      //max-width: 1200px;
      max-width: 368px;
    }

    .calendar-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .calendar-month-year {
        h3 {
          margin: 0;
          font-size: 18px;
          color: #1B2533;
          line-height: 28px;

          span {
            color: #8F97A2;
          }
        }
      }

      .calendar_nav {
        button {
          width: 30px;
          height: 30px;
          cursor: pointer;
          outline: 0;
          color: #8F97A2;
          background: none;
          border: none;
        }
      }
    }

    .calendar {
      span:not(.day-name) {
        padding: 0;

        span {
          padding: 0;
          border-radius: 4px;
        }
      }

      .day {
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        color: #B4B9C1;

        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        .is-today {
          line-height: 40px;
          width: 40px;
          margin: auto;
          display: block;
          position: relative;
          z-index: 1;
          color: var(--fcal_primary_color);
          &:before {
            background: var(--fcal_primary_color);
            border-radius: var(--fcal_date_radius);
            content: "";
            position: absolute;
            height: 6px;
            width: 6px;
            z-index: -1;
            bottom: 4px;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        &:nth-of-type(7n + 7) {
          border-right: 0;
        }

        &:nth-of-type(n + 1):nth-of-type(-n + 7) {
          grid-row: 1;
        }

        &:nth-of-type(n + 8):nth-of-type(-n + 14) {
          grid-row: 2;
        }

        &:nth-of-type(n + 15):nth-of-type(-n + 21) {
          grid-row: 3;
        }

        &:nth-of-type(n + 22):nth-of-type(-n + 28) {
          grid-row: 4;
        }

        &:nth-of-type(n + 29):nth-of-type(-n + 35) {
          grid-row: 5;
        }

        &:nth-of-type(n + 36):nth-of-type(-n + 42) {
          grid-row: 6;
        }

        &:nth-of-type(7n + 1) {
          grid-column: 1/1;
        }

        &:nth-of-type(7n + 2) {
          grid-column: 2/2;
        }

        &:nth-of-type(7n + 3) {
          grid-column: 3/3;
        }

        &:nth-of-type(7n + 4) {
          grid-column: 4/4;
        }

        &:nth-of-type(7n + 5) {
          grid-column: 5/5;
        }

        &:nth-of-type(7n + 6) {
          grid-column: 6/6;
        }

        &:nth-of-type(7n + 7) {
          grid-column: 7/7;
        }

        &-name {
          text-transform: uppercase;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          height: 44px;
          line-height: 44px;
        }

        &.day-disabled {
          color: rgb(152 160 166);
          background-color: #ffffff;
          cursor: not-allowed;
        }

        &.day-enabled {
          cursor: pointer;

          &.day_is_selected {
            span {
              line-height: 36px;

              &:before {
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: #ffffff;
                position: absolute;
                left: 50%;
                bottom: 3px;
                margin-left: -2px;
              }
            }
          }

          &:hover {
            span {
              background-color: var(--fcal_primary_color);
              color: white;
            }
          }

          span {
            position: relative;
            color: #445164;
            font-weight: 500;
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin: 0 auto;
            border-radius: var(--fcal_date_radius);
            background-color: #e5e7eb;
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
          }
        }

        &.day_is_selected {
          &.day {
            &.day-enabled {
              span {
                background-color: var(--fcal_primary_color);
                color: white;
              }
            }
          }
        }
      }

    }
  }

  .fcal_icon_item {
    display: flex;
    column-gap: 8px;
    color: #1B2533;
    svg {

    }

    img {
      width: 16px;
      height: 16px;
    }

    &.fcal_icon_item {
      margin-bottom: 10px;

      svg {
        stroke: #697483;
        flex: none;
        width: 16px;
      }
    }

    &.slot_time_range {
      svg {

      }
    }

    &.slot_timezone {
      svg {
        fill: none;
        stroke: none;

        path {

        }
      }
    }

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #1B2533;
  }

  &.fcal_form_calendar {
    border: none !important;

    .fcal_date_wrapper {
      margin: 0;

      .fcal_day_picker_wrap {
        overflow: hidden;
        .fcal_day_picker {
          padding: 0;

          .fcal_day_picker_head {
            h3 {
              margin-bottom: 0;
              display: inline-block;
              font-weight: 500;
              line-height: inherit;
              color: #000000;
            }
          }
        }
      }
    }
  }
}
.fcal_multi_locations {
  position: relative;
  margin-bottom: 6px;
  .fcal_multi_location_title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    svg {
      width: 16px;
      path,
      circle {
        stroke: #697483;
      }
    }
    &:hover .fcal_location_tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
  .fcal_location_tooltip {
    position: absolute;
    bottom: 100%;
    background: #000000;
    border-radius: 8px;
    color: #fff;
    padding: 10px 15px;
    opacity: 0;
    margin: 0;
    visibility: hidden;
    transition: .2s;
    list-style: none;
    .title {
      margin-bottom: 10px;
    }
    li {
      font-size: 12px;
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
      &:not(.title) {
        padding-left: 15px;
      }
      .fcal_icon_item {
        margin-bottom: 6px;
        img {
          filter: contrast(0);
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .fcal_loc_text {
        font-size: 12px;
        color: #ffffff;
        font-weight: 400;
      }
    }
  }
}

.fcal_calendar_slot_wrap {
  display: flex;
  column-gap: 40px;
  align-items: flex-start;
  position: relative;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;

  &.is_active {
    padding-right: 310px;
  }
}


.fcal_slot_items {
  padding-right: 8px;

  .fcal_spot_lists {
    margin: 0;
    padding: 0;

    .fcal_spot {
      display: flex;
      justify-content: space-between;
      border: 1px solid #ADB5C2;
      border-radius: 4px;
      width: 100%;
      //align-items: center;
      transition: .3s;
      position: relative;
      padding: 2px 2px 2px 0;
      z-index: 1;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;

      + .fcal_spot {
        margin-top: 15px;
      }
      &:before {
        content: '';
        background: var(--fcal_primary_color);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 4px;
        z-index: -1;
        opacity: 0;
      }

      &:hover {
        border-color: var(--fcal_primary_color);
        &:before {
          opacity: 0.1;
        }

        .fcal_spot_name {
          .fcal_spot_time {
            color: var(--fcal_primary_color);
          }
        }
      }

      .fcal_spot_name {
        cursor: pointer;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 10px 24px;
        font-size: 15px;

        .fcal_spot_time {
          font-size: 15px;
          font-weight: 500;
          line-height: 24px;
          color: #445164;
        }

        .fcal_spot_remaining {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
        }

        .fcal_spot_remaining {
          line-height: normal;
          font-size: 0.8rem;
          font-weight: 300;
        }
      }

      &.fcal_spot_selected {
        border-color: var(--fcal_primary_color);
        &:before {
          opacity: 0.1;
        }

        .fcal_spot_name {
          color: var(--fcal_primary_color);
          font-weight: 700;

          .fcal_spot_time {
            color: var(--fcal_primary_color);
            font-weight: 700;
          }
        }
      }

      .fcal_spot_confirm {
        background: var(--fcal_primary_color);
        text-align: center;
        padding: 10px 21px;
        border-radius: 4px;
        border: none;
        color: white;
        cursor: pointer;
        box-sizing: border-box;

        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        flex: none;

        svg {
          width: 22px;
          height: 22px;

          path {
            fill: #ffffff;
          }
        }
      }
    }
  }
}

.svelte-select {
  box-sizing: border-box !important;
  padding-left: 0!important;

  .svelte-select-list {
    border: 1px solid #EAECF0 !important;
    border-radius: 8px;
    box-shadow: 0 8px 30px rgba(27, 37, 51, .1) !important;
    padding: 8px 0 8px 8px;
    height: 210px !important;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #e4e4e7;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}

.fcal_slot_picker {
  min-width: 270px;
  position: relative;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background: #ffffff;
  right: 0px;
  top: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;

  &.is_active {
    opacity: 1;
    visibility: visible;
  }

  &:before {
    content: '';
    position: absolute;
    left: -20px;
    width: 1px;
    height: calc(100% + 66px);
    background: #EAECF0;
    top: -30px;
  }

  .fcal_slot_picker_header {
    margin: 0 0 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #1B2533;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 5;

    .fcal_slot_picker_header_action {
      display: flex;
      align-items: center;
      border: 1px solid #d1d5db;
      border-radius: 8px;
      padding: .25rem;

      .format-hour {
        overflow: hidden;

        input {
          opacity: 0;
          visibility: hidden;
          position: absolute;

          &:checked ~ label {
            background: #e5e7eb;
          }
        }

        label {
          cursor: pointer;
          line-height: 1.25;
          font-size: 12px;
          color: #374151;
          padding: 0.35rem 0.25rem;
          border-radius: 8px;
          display: block;
          width: 40px;
          text-align: center;
        }
      }
    }
  }
}

.fcal_loading_dates {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

  .fcal_loading_dates_inner {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.fcal_sec_heading {
  h3 {
    color: rgb(84 82 82);
    font-size: 17px;
    margin-bottom: 15px !important;
  }
}

.fcal_on_desktop {
  .fcal_timezone_select {
    .svelte-select {
      position: relative !important;
      display: flex;
      flex-direction: column;
      width: calc(100% - 1px) !important;
      max-width: 350px !important;
      padding-left: 20px !important;

      .svelte-select-list {
        position: absolute !important;
        display: block !important;
        //top: 0 !important;
        //right: 150px !important;
        left: auto !important;
        right: 0 !important;
        //background: red !important;
        //display: none;
        box-shadow: none !important;
        max-width: 350px !important;
        //width: 350px !important;
        box-sizing: border-box !important;
        padding: 0 !important;
        > * {
          box-sizing: border-box !important;
          padding-left: 5px !important;
        }
        .item {
          padding-left: 10px !important;
        }
        * {
          padding: 0 !important;
          margin: 0 !important;
          max-width: 100% !important;
          width: auto !important;
          box-sizing: border-box !important;
        }
      }
    }
  }
}
.fcal_timezone_select {
  max-width: 300px;
  margin-top: 30px;
  padding-left: 1px;

  label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
  }
  .svelte-select {
    padding-left: 20px !important;
    border-radius: 8px !important;
  }
}

.fcal_date_wrapper {
  min-width: 40%;
}

.fcal_slot_info {
  .fcal_slot_payment_item {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 5px;
    font-size: 14px;
    svg {
      width: 16px;
    }
  }
}

/*
* Booking confirmation
 */

.fcal_booking_confirmed {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;

  .fcal_confirm_header {
    text-align: center;
  }

  ul.fcal_conform_items {
    list-style: none;
    margin: 20px 0;
    padding: 20px 0;
    border-top: 2px solid rgba(26, 26, 26, 0.1);
    border-bottom: 2px solid rgba(26, 26, 26, 0.1);

    li {
      margin-bottom: 10px;
    }
  }

  span.fcal_slot_name_icon {
    width: 18px;
    height: 18px;
    background-color: rgb(130, 71, 245);
    border-radius: 50%;
  }

  li.fcal_conform_slot_name {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
}

.fcal_btn_submit {
  background: var(--fcal_primary_color);
  text-align: center;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid var(--fcal_primary_color);
  color: white;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background: rgb(4 76 177);
  }

  &.fcal_btn_submitting {
    background: rgb(0 105 255 / 50%);
    border-color: transparent;
    cursor: progress;
  }
}


.fcal_back.fcal_go_back {
  position: absolute;
  left: 0;
  top: 30px;

  i.fcal_svg {
    width: 44px;
    height: 44px;
  }
}

.fcal_errors {
  padding: 10px;
  background: #ffff95;
}

/*
* Responsive CSS
 */
.fcal_time_picker_head {
  display: none;
}

.f_cal_day_selected {
  .fcal_on_mobile {
    .fcal_calendar_slot_wrap {
      flex-direction: column;

      .calendar-container {
        display: none;
      }

      .fcal_slot_picker {
        width: 100%;

        .fcal_spot_selected {
          justify-content: space-between;
          column-gap: 15px;

          > div {
            flex: 1;
          }
        }
      }
    }

    .fcal_day_picker_head {
      display: none;
    }

    .fcal_time_picker_head {
      display: block;
      position: relative;

      h3 {
        margin-bottom: 0 !important;
      }

      p {
        margin-top: 0;
        color: rgb(84, 82, 82);
      }
    }

  }
}

@media (max-width: $breakpoint-tablet2) {
  .fcal_holder {
    &.f_cal_spot_selected {
      .fcal_on_mobile {
        .fcal_day_picker_wrap {
          .fcal_day_picker {
            .fcal_calendar_slot_wrap {
              .fcal_slot_picker {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.fcal_on_mobile {
  height: auto !important;
  &.fcal_calendar_inner {
    width: 100%;
    max-width: 400px;
    .fcal_date_wrapper {
      width: 100%;
      .fcal_day_picker_wrap {
        .fcal_day_picker {
          .fcal_calendar_slot_wrap {
            &.is_active {
              .fcal_slot_picker {
                &.is_active {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  .fcal_slot_picker_header {
    text-align: center;
    border-bottom: 1px solid #c8c7c7;
  }

  .fcal_date_wrapper {
    &.is_active {
      padding-right: 0;
      min-width: 100%;

      .fcal_day_picker_wrap {
        transform: translateX(0);
        display: none;
      }

      .fcal_date_event_details {
        &.is_active {
          display: block;
        }
      }
    }

    .fcal_date_event_details {
      width: 100%;
      max-width: 100% !important;
      position: relative;
      visibility: visible;
      opacity: 1;
      display: none;
    }

    .fcal_calendar_slot_wrap {
      flex-direction: column;
      gap: 30px;

      .fcal_slot_picker {
        //min-width: 100%;
        &.is_active {
          display: none;
        }
      }

      &.is_active {
        padding-right: 0;
      }

      .fcal_slot_picker {
        position: relative;
        right: auto;
        opacity: 1;
        visibility: visible;
        display: none;

        .fcal_slot_picker_header {
          margin-bottom: 25px;
          padding-bottom: 10px;
        }

        &:before {
          display: none;
        }

        &.is_active {
          display: block;
        }
      }
    }
  }

  &.fcal_calendar_inner {
    flex-direction: column;

    .fcal_side {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      border-right: none;
      max-height: 100%;
      min-height: auto;
    }
  }

  .fcal_sec_heading {
    text-align: center;
  }
}

.calendar_nav {
  svg {
    height: 1em;
    width: 1em;
  }

  .fcal_nav_active {
    svg {
      color: var(--fcal_primary_color);
    }
  }
}


//to-do will refactor tanbir
//payment items styles

#fluent_booking_stipe_pay{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  padding: 10px 20px;
  background: var(--fcal_primary_color);
  border-radius: 8px;
}

.fcal_payment_items {
  display: flex;
  gap: 20px;
  table {
    width: 100%;
    margin-top: 24px;
    border: 1px solid #e6e7e7;
    border-radius: 8px;
    border-spacing: 0;
    border-collapse: separate !important;
    background: #ffffff;
    thead {
      th {
        text-align: left;
        padding: 12px 20px;
        background: #f5f6f7;
        font-size: 14px;
        font-weight: 500;
        &:first-child {
          border-top-left-radius: 8px;
        }
        &:last-child {
          border-top-right-radius: 8px;
        }
      }
    }
    tbody {
      td {
        padding: 10px 20px !important;
        border-bottom: 1px solid #e6e7e7 !important;
        background: none !important;
        font-size: 13px;
      }
    }
    tfoot {
      tr {
        th {
          padding: 12px 20px;
          &:first-child {
            text-align: right;
          }
        }
      }
    }
  }

  .fcal_payment_item_single {
    font-weight: 400;
    padding: 10px 17px;
    color: #515e72;
    .amount {
      font-weight: 500;
      color: #000000;
    }
  }

  p {
    margin: 0;
  }
}

.fcal_payment_items_wrapper {
  table {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    th {
      text-align: left;
      padding: 6px 15px;
    }
    tbody {
      td {
        padding: 6px 15px;
      }
    }
  }

  background: #f9fafb;
  border-radius: 4px;
}

.fluent_booking_payment_processor {
  .label {
    margin: 0 0 10px;
    font-weight: 500;
  }
  form {
    label {
      font-weight: 500;
      color: #000000;
      display: block;
      margin-bottom: 10px;
    }
    .p-CardForm {
      .p-GridCell {
        margin-bottom: 15px;
      }
    }
    .p-Input {
      input {
        padding-right: 51.2px;
        border-radius: 8px;
        box-shadow: none;
      }
    }
    .p-Select {
      select {
        border-radius: 8px;
        box-shadow: none;
      }
    }
  }
  #fluent_booking_stipe_pay {
    background: var(--fcal_primary_color);
    text-align: center;
    padding: 8px 15px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #306AE07F;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    transition: .3s;

    &:hover {
      background: rgb(4 76 177);
    }
  }
}

.fcal_check_holder {
  text-align: center;
  img {
    margin: 0 auto;
    display: block;
  }
}

input.fcal_input:disabled {
  background: #f6f6f6;
}
