html[dir="rtl"] {
	.el-popper {
		&.fcal_daterange_popover {
			.el-picker-panel [slot=sidebar]+.el-picker-panel__body,
			.el-picker-panel__sidebar+.el-picker-panel__body {
				margin-right: 110px;
				margin-left: 0;
			}
		}
	}
	.el-dialog {
		&.fcal_dialog {
			.el-dialog__header {
				margin-right: 0;
				.el-dialog__headerbtn {
					right: auto;
					left: 0;
				}
			}
		}
		&.fcal_modal {
			.el-dialog__header {
				.el-dialog__headerbtn {
					right: auto;
					left: 9px;
				}
			}
		}
	}
	.fcal_settings_body_inner {
		.fcal_settings_content_wrap {
			.el-form .el-form-item {
				.el-input {
					.el-input__wrapper {
						.el-input__inner {
							text-align: right;
						}
					}
				}
			}
		}
	}
	.toplevel_page_fluent-booking {
		.el-switch__label--right {
			margin-left: 0;
			margin-right: 10px;
		}
		.el-checkbox__label {
			padding-left: 0;
			padding-right: 8px;
		}
		.el-form--label-top {
			.el-form-item {
				.el-form-item__label {
					text-align: right;
				}
			}
		}
		.el-switch {
			.el-switch__label--left {
				margin-right: 0;
				margin-left: 10px;
			}
		}
		.el-checkbox {
			margin-right: 0;
			margin-left: 16px;
			&:last-of-type {
				margin-left: 0;
			}
		}
		.el-radio {
			margin-right: 0;
			margin-left: 16px;
			&:last-child {
				margin-left: 0;
			}
		}
	}

}