// text colors
.text {
    &-primary {
        color: #20a0ff
    }

    &-success {
        color: #13ce66
    }

    &-info {
        color: #50bfff
    }

    &-warning {
        color: #f7ba2a
    }

    &-bg-highlight {
        background: #EEEEEE;
    }

    &-danger {
        color: #ff4949
    }

    &-align {
        &-right {
            text-align: right;
        }

        &-center {
            text-align: center;
        }
    }
}

.clickable {
    cursor: pointer;
}


.fcal_tm20 {
    margin-top: 20px;
}

.fcal_right {
    display: block;
    overflow: hidden;
    > * {
        text-align: right;
        float: right;
    }
}

.fcal_section_narrow {
    max-width: 1100px;
    margin: 0 auto;
}


button.el-button.location_edit_btn {
    margin-left: -10px;
}


.fcal_sub_title {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
}


table.fcal_table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    thead tr {
        background: #f5f5f5;
        th {
            padding: 10px 15px;
            font-weight: bold;
            color: #000;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #f5f5f5;
            border-left: 1px solid #f5f5f5;
            border-right: 1px solid #f5f5f5;
            td {
                padding: 10px 15px;
                color: #666;
            }
        }
    }
    &.fcal_stripe {
        tbody {
            tr:nth-child(even) {
                background: #f8fafc;
            }
        }
    }
    &.fcal_table_compact {
        tbody {
            tr {
                td {
                    padding: 8px 5px;
                }
            }
        }
        thead tr {
            th {
                padding: 8px 5px;
            }
        }
    }
}

.fcal_timezone_text {
    margin-bottom: 10px;
    color: #595959;
}

h3.fcal_section_title {
    font-size: 20px;
    margin: 15px 0;
    font-weight: 500;
}

.fcal_booking_header {
    padding: 12px 40px;
    background: #e3e8ee;
    margin: -40px -40px 30px;
    border-bottom: 2px solid #e3e8ee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 58px;
}

.fcal_status_cancelled * {
    text-decoration: line-through;
}

p.fcal_profile_link a {
    text-decoration: none;
    font-weight: 500;
}

.el-notification__content {
    text-align: left !important;
}

.fcal_status_draft {
    opacity: 0.6;
}

.fcal_head_actions {
    margin: -15px 0;
}

// el-popover-dropdown
.el-dropdown-list-wrapper {
    &.el-popover {
        z-index: 9999999999999 !important;
    }
}

.el-dropdown-menu {
    left: unset;
    max-width: 270px;
}

.el-popper.el-dropdown-list-wrapper {
    .el-dropdown-menu {
        width: 100%;
    }
}

.el-dropdown-list-wrapper {
    padding: 0;
    .group-title {
        display: block;
        padding: 5px 10px;
        background-color: #909399;
        color: #fff;
    }
}

.el-dropdown-list {
    border: 0;
    margin: 0;
    box-shadow: none;
    padding: 0;
    z-index: 10;
    position: static;
    min-width: auto;
    max-height: 280px;
    overflow-y: scroll;

    .el-dropdown-menu__item {
        font-size: 13px;
        line-height: 18px;
        padding: 4px 10px;
        border-bottom: 1px solid #f1f1f1;

        &:last-of-type {
            border-bottom: 0;
        }

        &:hover {
            background-color: #e8f2ff;
            color: #4898fc;
        }
    }
}

// wp vue editorx
.wp_vue_editor {
    width: 100%;
    min-height: 100px;
}
.wp_vue_editor_wrapper {
    border: 1px solid #DCDFE6;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-color: #fff;

    .popover-wrapper {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        &-plaintext {
            left: auto;
            right: 0;
            top: -32px;
        }
    }
    .wp-editor-container{
        border: 0;
    }
    .wp-editor-tabs{
        float: none;
        padding: 8px;
    }
    .wp-switch-editor{
        height: auto;
        margin: 0 0 0 4px;
        background-color: transparent;
        padding: 2px 12px;
        font-size: 14px;
        border-radius: 5px;
        line-height: inherit;
        border-color: transparent;
        float: none;
        font-weight: 500;
    }
    .html-active .switch-html,
    .tmce-active .switch-tmce,
    .editor-add-shortcode {
        background-color: #f5f7fa;
        border-color: #DCDFE6;
        color: #1E1F21;
    }
    .switch-html{
        margin-left: 0;
    }
    .mce-top-part::before{
        box-shadow: none;
    }
    div.mce-toolbar-grp,
    .quicktags-toolbar {
        border-bottom: 0;
        background: #f5f7fa;
    }
    .mce-toolbar .mce-btn-group .mce-btn.mce-listbox{
        border: 0;
        box-shadow: none;
        border-radius: 4px;
    }
    textarea{
        border: 0;
        padding-top: 15px;
    }
}