// text colors
.text {
    &-primary {
        color: #20a0ff
    }

    &-success {
        color: #13ce66
    }

    &-info {
        color: #50bfff
    }

    &-warning {
        color: #f7ba2a
    }

    &-bg-highlight {
        background: #EEEEEE;
    }

    &-danger {
        color: #ff4949
    }

    &-align {
        &-right {
            text-align: right;
        }

        &-center {
            text-align: center;
        }
    }
}

.clickable {
    cursor: pointer;
}


.fcal_tm20 {
    margin-top: 20px;
}

.fcal_right {
    display: block;
    overflow: hidden;
    > * {
        text-align: right;
        float: right;
    }
}

.fcal_section_narrow {
    max-width: 1100px;
    margin: 0 auto;
}


button.el-button.location_edit_btn {
    margin-left: -10px;
}
