@import "saas.scss";
@import "../scss/booking_confirmation";

.confirmation_page {
  background: var(--fcal_body_bg);
  height: 100vh;
  overflow-x: hidden;
  padding: 40px 0;
  .fcal_back_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      gap: 4px;
      svg {
        stroke: var(--fcal_primary_color);
      }
        a {
            color: var(--fcal_primary_color);
            text-decoration: none;
        }
  }
  .fcal_conf_wrap {
    max-width: 600px;
    margin: auto;
    background: var(--fcal_cal_bg);
    border: 1px solid rgba(26, 26, 26, 0.1);
    border-radius: 8px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
    padding: 20px;
  }
  ul.fcal_conform_items {
    list-style: none;
    margin: 20px 0;
    padding: 20px 0;
    border-top: 2px solid rgba(26, 26, 26, 0.1);
    border-bottom: 2px solid rgba(26, 26, 26, 0.1);

    li {
      margin-bottom: 10px;
    }
  }

  span.fcal_slot_name_icon {
    width: 18px;
    height: 18px;
    background-color: rgb(130, 71, 245);
    border-radius: 50%;
  }

  li.fcal_conform_slot_name {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
}

.fcal_confirmation_message {
  text-align: center;
  padding: 15px 0;
}

.fcal_cancellation_wrap {
  display: flex;
  width: 100%;
  text-align: left;
  flex-direction: column;
  color: #111827;
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--fcal_slot_border);
    border-radius: 5px;
  }
  label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .fcal_help_text {
    font-size: 0.75rem;
    font-style: italic;
    margin: 0;
  }
  .fcal_form_actions {
    display: flex;
    column-gap: 15px;
    align-items: stretch;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .fcal_btn {
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #d1d5db;
    text-decoration: none;
    color: #111827;
    background-color: #f9fafb;
    &:hover {
      opacity: 0.8;
      border-color: #9ca3af;
      color: black;
    }
    &.fcal_btn_primary {
      background-color: #292929;
      color: white;
      border: 1px solid #292929;
    }
  }
  .fcal_error_message {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0.75rem;
    gap: 0.75rem;
    border-radius: 8px;
    color: rgb(30, 58, 138);
    background-color: rgb(219, 234, 254);
  }
}
.fcal_normal_booking_footer {
  text-align: center;
  a {
    color: var(--fcal_primary_color);
  }
}

