@import "saas.scss";

body {
  background: #fafafa;
}

.dashboard_warp {
  .fl_app {
    margin-right: 0;
  }

}

h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.fcal_cal_header.fcal_section_header {
  margin: -15px -16px 0;
}
