@import "saas.scss";
@import "../scss/booking_confirmation";

.confirmation_page {
  max-width: 600px;
  margin: 66px auto 30px;
  background: white;
  border: 1px solid rgba(26, 26, 26, 0.1);
  border-radius: 8px;
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
  padding: 20px;
}

.confirmation_page {
  ul.fcal_conform_items {
    list-style: none;
    margin: 20px 0;
    padding: 20px 0;
    border-top: 2px solid rgba(26, 26, 26, 0.1);
    border-bottom: 2px solid rgba(26, 26, 26, 0.1);

    li {
      margin-bottom: 10px;
    }
  }

  span.fcal_slot_name_icon {
    width: 18px;
    height: 18px;
    background-color: rgb(130, 71, 245);
    border-radius: 50%;
  }

  li.fcal_conform_slot_name {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
}

.fcal_confirmation_message {
  text-align: center;
  padding: 15px 0;
}

.fcal_cancellation_wrap {
  display: flex;
  width: 100%;
  text-align: left;
  flex-direction: column;
  color: #111827;
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
  }
  label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .fcal_form_actions {
    display: flex;
    column-gap: 15px;
    align-items: stretch;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .fcal_btn {
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #d1d5db;
    text-decoration: none;
    color: #111827;
    background-color: #f9fafb;
    &:hover {
      opacity: 0.8;
      border-color: #9ca3af;
      color: black;
    }
    &.fcal_btn_primary {
      background-color: #292929;
      color: white;
      border: 1px solid #292929;
    }
  }
  .fcal_error_message {
    margin-top: 30px;
    color: #ff2222;
    text-align: center;
  }
}
.fcal_normal_booking_footer {
  text-align: center;
}

