$slug: 'fframe_';
$primary-color: rgb(47, 41, 37);
$primaryColor: #306ae0;
$dark: #1B2533;

body {
  --fcal-primary-text: #19283a;
  --fcal-secondary-text: #525866;
  --fcal-color-text: #306ae0;
  --fcal-primary-border: #e0e3e8;
  --fcal-secondary-border: #9CA3AF;
  --fcal-primary-bg: #ffffff;
  --fcal-secondary-bg: #f0f0f1;
  --fcal-active-bg: #f0f3f5;
  --fcal-color-bg: #f0f6fe;

  --el-color-primary: #19283a;
}

html.dark body {
  --fcal-primary-text: #F0F3F5;
  --fcal-secondary-text: #99A0AE;
  --fcal-color-text: #7da3ff;
  --fcal-primary-border: #42464D;
  --fcal-secondary-border: #6b7280;
  --fcal-primary-bg: #141f2c;
  --fcal-secondary-bg: #11171d;
  --fcal-active-bg: #1D2F41;
  --fcal-color-bg: #1D2F41;

  --el-color-primary: #F0F3F5;
}
