:root {
	--fcal_block_dark: #1B2533;
	--fcal_block_bg: #ffffff;
	--fcal_block_input_bg: #ffffff;
	--fcal_block_border_color: #D6DAE1;
	--fcal_block_gray_color: #8F97A2;
	--fcal_block_primary_color: #306ae0;
	--fcal_block_enable_day_bg: #e5e7eb;
}
$dark: var(--fcal_block_dark);

.fcal_block_landing_page {
	&.fcal_block_landing_preview {
		.fcal_block_preview_wrap {
			&.dark {
				--fcal_block_dark: #dddbdb;
				--fcal_block_bg: #1c1c1c;
				--fcal_block_border_color: #2b2b2b;
				--fcal_block_enable_day_bg: #2b2b2b;
				--fcal_block_primary_color: #ffffff;
				--fcal_block_input_bg: #2b2b2b;
			}
		}
	}
}
.fcal_block_landing_page {
	position: relative;
	border-radius: 8px;
	border: 1px solid var(--fcal_block_border_color);
	padding: 24px;
	background: #F5F6F7;
	.fcal_block_loading {
		margin: 0;
		font-size: 20px;
	}

	.fcal_calendar_not_found {
		h2 {
			margin: 0;
			font-size: 20px;
		}
	}
	.fcal_block_header {
		text-align: center;
		.fcal_block_logo {
			display: block;
			margin: auto auto 20px auto;
		}
	}
	#fcal_select_calendar {
		width: 100%;
		max-width: 100%;
		padding: 6px 20px;
		border-radius: 8px;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	&.fcal_block_landing_preview {
		padding: 0;
		border: none;
		background: none;
		margin: auto;
		.fcal_block_preview_wrap {
			display: flex;
			border: 1px solid var(--fcal_block_border_color);
			background: var(--fcal_block_bg);
			border-radius: 8px;
			.fcal_block_preview_aside {
				width: 100%;
                flex: 40%;
				padding: 24px;
				border-right: 1px solid var(--fcal_block_border_color);
				.fcal_author {
					margin-bottom: 10px;
					.fcal_author_avatar {
						width: 80px;
						height: 80px;
						margin-bottom: 10px;
						img {
							width: 100%;
							height: 100%;
							border-radius: 8px;
							object-fit: cover;
							display: block;
						}
					}
					.fcal_author_name {
						text-transform: capitalize;
						font-size: 1rem;
						font-weight: 400;
						line-height: 1.5;
						margin: 0;
						color: $dark;
					}
				}
				.fcal_slot_info {
					.fcal_slot_heading {
						font-size: 24px;
						font-weight: 700;
						line-height: 32px;
						margin: 0 0 20px;
						color: $dark;
					}
					.fcal_icon_item {
						display: flex;
						align-items: center;
						column-gap: 8px;
						font-size: 14px;
						font-weight: 500;
						line-height: 20px;
						color: $dark;
						margin-bottom: 10px;
						svg {
							fill: #697483;
							stroke: #697483;
						}

					}
				}
				.fcal_slot_description {
          margin-top: 20px;
          font-size: 16px;
          color: $dark;
          p {
            margin: 1rem 0;
            line-height: 1.6;
          }
          ul {
            list-style: disc;
            margin: 0 0 1rem 0;
            padding-left: 2rem;
          }
          ol {
            list-style: decimal;
            margin: 0 0 1rem 0;
            padding-left: 2rem;
          }
				}
			}
			.fcal_block_preview_date_wrapper {
        flex: 60%;
				padding: 30px 20px;
				img {
					display: block;
				}
			}
		}
	}
}

.fcal_block_settings {
	width: 100%;
	.fcal_block_inspector_widget {
		margin-bottom: 20px;
		h3 {
			margin-bottom: 5px;
		}
		select {
			border: 1px solid var(--fcal_block_border_color);
			border-radius: 8px;
			padding: 3px 16px;
			width: 100%;
		}
    .fcal_checkbox_control {
        margin-bottom: 12px;
    }
	}
	.fcal_block_inspector_host_info {
		.components-flex {
			gap: 12px;
		}
		.components-base-control__field {
			.components-v-stack {
				flex-direction: row;
				justify-content: flex-start;
				input {
					transition: .3s;
					margin-right: 0;
					width: 16px;
					height: 16px;
					&:focus {
						outline: none;
						box-shadow: none;
					}
					&:before {
						transition: .3s;
						border-width: 3px;
						width: 6px;
						height: 6px;
					}
					&:checked:before {
						transform: translate(4px, 4px);
					}
				}
				label {
					padding-left: 6px;
					margin-right: 0;
				}
			}
		}
	}
}

.fcal_block_calendar_container {
	.fcal_block_calendar_header {
		margin-bottom: 8px;
		h3 {
			color: $dark;
			margin: 0;
			font-size: 18px;
			line-height: 28px;
			span {
				color: var(--fcal_block_gray_color);
			}
		}
	}
	.fcal_block_timezone {
		margin-top: 20px;
		h3 {
			font-weight: 500;
			display: block;
			margin: 0 0 5px;
			color: $dark;
			font-size: 17px;
			line-height: 27px;
		}
		.timezone {
			color: var(--fcal_block_dark);
			border: 1px solid var(--fcal_block_border_color);
			background: var(--fcal_block_input_bg);
			padding: 6px 20px;
			font-size: 16px;
			line-height: 26px;
			display: block;
			border-radius: 8px;
		}
	}
}
.fcal_block_calendar {
	display: grid;
	width: 100%;
	gap: 0.6rem;
	grid-template-columns: repeat(7, minmax(0, 3rem));
	overflow: auto;
	align-items: center;
	.day {
		text-align: center;
		box-sizing: border-box;
		z-index: 1;
		color: var(--fcal_block_gray_color);
		font-size: 14px;
		font-weight: 500;
		padding-top: 100% !important;
		display: block;
		position: relative;
		> span {
			position: absolute !important;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 4px;
		}

		.is-today {
			margin: auto;
			z-index: 1;
			color: var(--fcal_block_primary_color);

			&:before {
				background: var(--fcal_block_primary_color);
				border-radius: 4px;
				content: "";
				position: absolute;
				height: 6px;
				width: 6px;
				z-index: -1;
				bottom: 4px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		&:nth-of-type(7n + 7) {
			border-right: 0;
		}

		&:nth-of-type(n + 1):nth-of-type(-n + 7) {
			grid-row: 1;
		}

		&:nth-of-type(n + 8):nth-of-type(-n + 14) {
			grid-row: 2;
		}

		&:nth-of-type(n + 15):nth-of-type(-n + 21) {
			grid-row: 3;
		}

		&:nth-of-type(n + 22):nth-of-type(-n + 28) {
			grid-row: 4;
		}

		&:nth-of-type(n + 29):nth-of-type(-n + 35) {
			grid-row: 5;
		}

		&:nth-of-type(n + 36):nth-of-type(-n + 42) {
			grid-row: 6;
		}

		&:nth-of-type(7n + 1) {
			grid-column: 1/1;
		}

		&:nth-of-type(7n + 2) {
			grid-column: 2/2;
		}

		&:nth-of-type(7n + 3) {
			grid-column: 3/3;
		}

		&:nth-of-type(7n + 4) {
			grid-column: 4/4;
		}

		&:nth-of-type(7n + 5) {
			grid-column: 5/5;
		}

		&:nth-of-type(7n + 6) {
			grid-column: 6/6;
		}

		&:nth-of-type(7n + 7) {
			grid-column: 7/7;
		}
		&.day-enabled {
			color: var(--fcal_block_dark);
			span {
				color: var(--fcal_block_dark);
				font-weight: 500;
				border-radius: 4px;
				background-color: var(--fcal_block_enable_day_bg);
				transition: 0.3s;
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				-ms-transition: 0.3s;
				-o-transition: 0.3s;
			}
		}
	}

	.day-name {
		text-transform: uppercase;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
		color: $dark;
		line-height: 41px;
        word-wrap: normal;
	}
}

@media (max-width: 650px) {
	.fcal_block_landing_page {
		&.fcal_block_landing_preview {
			.fcal_block_preview_wrap {
				flex-direction: column;
				.fcal_block_preview_aside {
					border: none;
					max-width: 100%;
				}
			}
		}
	}
}