.fcal_booking_management_block_wrap {
	box-sizing: border-box;
	*, *:before, *:after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	.fcal_booking_management_header {
		display: flex;
		justify-content: space-between;
        .fcal_booking_header_action {
            display: inline-flex;
            gap: 0.5rem;
            align-items: center;
            background: #fff;
            border: 1px solid #e5e7eb;
            border-radius: 5px;
            padding: 5px;
            .fcal_booking_radio_btn {
                position: relative;
                overflow: hidden;
                input {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0;
                    cursor: default;
                    &:checked~label {
                        background: #e5e7eb;
                        border-radius: 5px;
                        box-shadow: none;
                        color: #374151;
                    }
                }
                label {
                    display: block;
                    border-radius: 8px;
                    padding: 7px 10px;
                    color: #606266;
                    font-size: 0.875rem;
                    font-weight: 500;
                }
            }
        }
		h1 {
			font-size: 24px;
			line-height: 1.2;
			color: #111827;
			font-weight: 500;
			margin: 6px 0 4px;
		}
        h4 {
            font-size: 20px;
            line-height: 1.5;
            font-weight: 700;
        }
		p {
			font-size: 14px;
			line-height: 20px;
			color: #6b7280;
			font-weight: 400;
			a {
				text-decoration: none;
			}
		}
	}

    .fcal_all_bookings {
        display: flex;
        margin-top: 1rem;
        .fcal_bookings {
            flex: 1;
            .fcal_bookings_wrapper {
                background: #fff;
                border: 1px solid #eaecf0;
                border-radius: 8px;
                .fcal_booking {
                    border-bottom: 1px solid #eaecf0;
                    position: relative;
                    &:last-child {
                        border-bottom: none;
                    }
                    .fcal_spot_status_cancelled * {
                        text-decoration: line-through;
                        .fcal_plain_btn {
                            text-decoration: none;
                        }
                    }
                    .fcal_spot_line {
                        align-items: center;
                        -moz-column-gap: 15px;
                        column-gap: 15px;
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 25px;
                        position: relative;
                        transition: .1s;
                        .fcal_spot_timing {
                            align-items: center;
                            display: flex;
                            flex-wrap: wrap;
                            color: #777;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            gap: 2px;
                            max-width: 180px;
                            min-width: 180px;
                            p {
                                margin: 0
                            }
                            .fcal_booking_date {
                                color: #111827;
                            }
                            .fcal_booking_time {
                                font-weight: 400;
                            }
                        }
                        .fcal_spot_desc {
                            align-items: flex-start;
                            display: flex;
                            flex-direction: column;
                            margin-right: auto;
                            padding-left: 30px;
                            .fcal_spot_title {
                                color: #445164;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                                margin: 0;
                            }
                            .fcal_spot_desc_sub_info {
                                align-items: center;
                                display: flex;
                                flex-wrap: wrap;
                                gap: 6px;
                                margin-top: 8px;
                                .fcal_spot_happening {
                                    span {
                                        display: block;
                                        color: white;
                                        background: black;
                                        border-radius: 6px;
                                        padding: 2px 10px;
                                        font-size: 12px;
                                        line-height: 18px;
                                        &.fcal_happening_now {
                                            background: red;
                                        }
                                    }
                                }
                                .fcal_spot_period_status {
                                    background: rgba(38, 83, 199, .1);
                                    border-radius: 4px;
                                    color: #306ae0;
                                    display: inline-block;
                                    font-size: 12px;
                                    font-weight: 500;
                                    margin: 0;
                                    padding: 2px 10px;
                                    &.unconfirmed {
                                        background: #fde2e2;
                                        color: #f56c6c;
                                    }
                                }
                                .fcal_spot_payment_status {
                                    background: rgba(38, 83, 199, .1);
                                    border-radius: 4px;
                                    color: #306ae0;
                                    display: inline-block;
                                    font-size: 12px;
                                    font-weight: 500;
                                    margin: 0;
                                    padding: 2px 10px;
                                    &.paid {
                                      background: #e8f5f1;
                                      color: #16896b;
                                    }
                                    &.failed {
                                        background: #fde2e2;
                                        color: #f56c6c;
                                    }
                                    &.pending,
                                    &.refunded,
                                    &.partially-refunded {
                                        background: #FDE8CD;
                                        color: #F58E07;
                                    }
                                }
                            }
                        }
                        .fcal_spot_actions {
                            display: flex;
                            gap: 0.5rem;
                            align-self: center;
                            .fcal_plain_btn {
                                border: 1px solid #d6dae1;
                                border-radius: 8px;
                                color: #1b2533;
                                font-size: 14px;
                                height: auto;
                                line-height: 1;
                                padding: 8px 16px;
                                transition: 0.2s;
                                background: transparent;
                            }
                        }
                    }
                }
                .fcal_no_bookings p {
                    color: #606266;
                    font-size: 1.2rem;
                    font-weight: 500;
                    margin: 0;
                    padding: 1rem;
                    text-align: center;
                }
            }
        }
    }

    .fcal_booking_pagination {
        justify-content: flex-end;
        text-align: right;
        align-items: center;
        color: #303133;
        display: flex;
        font-size: 0.875rem;
        font-weight: 400;
        white-space: nowrap;
        margin-top: 0.5rem;
        padding: 0;
        .fcal_btn {
            color: #303133;
            text-decoration: none;
            background-color: transparent;
            margin-left: 1rem;
            &.prev {
                padding: 0 1rem;
            }
            &.disabled {
                color: #c0c4cc;
            }
        }
        .fcal_booking_per_page {
            display: flex;
            align-items: center;
            margin: 0 1rem;
            padding-right: 1.25rem !important;
            padding-left: 0.75rem !important;
            border: 1px solid #d6dae1;
            border-radius: 8px;
            color: #1b2533;
            height: 2rem;
            line-height: 1;
            padding: 0.25rem;
            transition: .2s;
        }
        .fcal_booking_pager {
            align-items: center;
            display: flex;
            font-size: 0;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                border-radius: 8px;
                height: 2rem;
                transition: .2s;
                background: #fff;
                border: none;
                box-sizing: border-box;
                color: #303133;
                font-size: 0.875rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                line-height: 2rem;
                min-width: 2rem;
                padding: 0 4px;
                a {
                    color: #303133;
                    text-decoration: none;
                }
                &.active {
                    background: #306ae0;
                    color: #fff;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .fcal_container {
        .fcal_booking_header {
            flex-wrap: wrap;
        }
        .fcal_all_bookings .fcal_bookings {
            .fcal_booking_wrapper .fcal_booking {
                .fcal_spot_line {
                    flex-wrap: wrap;
                    .fcal_spot_desc {
                        padding: 16px 0;
                    }
                }
            }
        }
    }
}

.fcal_block_inspector_widget {
    ul.accordion-list {
        .fcal_booking_calendar {
            margin-top: 8px !important;
        }
    }
}