@media (max-width: 485px) {
  #fluent-booking-app {    
    .fcal_calendar_view {
      .el-calendar {
        .el-calendar__header {
          flex-wrap: nowrap;
          .header_date_picker {
            width: min-content;
          }
          .el-radio-group.fcal_radio_switch {
            width: min-content;
          }
        }
        .el-calendar__body {
          padding: 0;
        }
      }
      .weekly_calendar_view {
        .weekly_header {
          .day_column_header .day_number {
            .el-button {
              padding: 4px;
            }
          }
        }
      }
    }
  }
  .el-popover.el-popper.schedule_details_popover {
    width: 80% !important;
  }
}

@media (max-width: 992px) {
  .fcal_settings_body, .fcal_slot_settings {
    flex-direction: column;
    .el-aside {
      display: none;
    }
    .header_right {
      justify-content: flex-end;
    }
  }
  .fcal_event_settings_menu_opener {
    display: block;
    cursor: pointer;
    .el-icon {
      display: block;
      font-size: 32px;
    }
  }
}